#state-grid {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    margin: 40px 40px 40px 40px;
}

@media only screen  and (min-width : 1224px) {
    #state-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 20px;
        grid-column-gap: 40px;
        width: 900px;
        margin: auto;
        margin-top: 20px;
    }
    #comment-section {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

path:hover {
    fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/* Legend Position Style */
.legend {
    font: 11px sans-serif;
    position:absolute;
    left:800px;
    top:350px;
}
