#state-grid {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    margin: 40px 40px 40px 40px;
}

@media only screen  and (min-width : 1224px) {
    #state-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 20px;
        grid-column-gap: 40px;
        width: 900px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #comment-section {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

li {
    list-style-type: disc;
    margin-left: 2rem;
}

#summary-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#summary-block div ul {
}

.fadein {
    animation: fadein 2s;
    display: block;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* state map */
path:hover {
    fill-opacity: .7;
}
.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    pointer-events: none;
}
.legend {
    font: 11px sans-serif;
    position:absolute;
    left:800px;
    top:350px;
}
