<div id="map">
</div>

{{ state_data|json_script:"state-data" }}
<script>
// based on http://bl.ocks.org/michellechandra/0b2ce4923dc9b5809922

var width = 960;
var height = 500;
if(document.documentElement.clientWidth < 1224) {
    width = document.documentElement.clientWidth - 100;
    height = width * 0.5;
}
const projection = d3.geo.albersUsa()
                   .translate([width/2, height/2])
                   .scale([width]);
const path = d3.geo.path().projection(projection);

var svg = d3.select("#map")
            .append("svg")
            .attr("width", width)
            .attr("height", height);
var div = d3.select("#maincontent")
            .append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);

const color = [
   "#ADD8E6", // blue
   "#94f654", // bright green
   "#d1fbc0", // mild green
   "#7d5dca", // purple
   "#b15cae", // magenta
   "#fbee65", // yellow
];

const legend_data = [
    ["Independent commission", color[1]],
    ["Other advisory/commission", color[2]],
    ["Potential reform by 2021", color[3]],
    ["Divided or potentially divided gov't.", color[4]],
    ["Legal and legislative routes to reform", color[5]],
    ["Legislative action/public input", color[0]],
];

const state_data = JSON.parse(document.getElementById('state-data').textContent);
var state_data_lookup = {};
for(var d of state_data) {
    state_data_lookup[d.name] = {
        legislative_control: d.legislative_control,
        action: d.short_action,
        draws_state_lines: d.draws_state_lines,
        draws_congressional_lines: d.draws_congressional_lines,
        status: d.status,
    }
}

d3.json("/reforms2019/us-states", function(json) {
    svg.selectAll("path")
        .data(json.features)
        .enter()
        .append("path")
        .attr("d", path)
        .style("stroke", "#fff")
        .style("stroke-width", "1")
        .style("fill", function(d) {

        const value = state_data_lookup[d.properties.name];
        if (value) {
            return color[value.status];
        } else {
            return color[0];
        }
    })
    .on("mouseover", function(d) {
        if(document.documentElement.clientWidth < 1000) {
            return;
        }
        div.transition()
           .duration(200)
           .style("opacity", .9);
        div.html(
            "<b>" + d.properties.name + "</b><br />" +
            "<b>Draws state boundaries: </b>" + state_data_lookup[d.properties.name].draws_state_lines + "<br />" +
            "<b>Draws congressional boundaries: </b>" + state_data_lookup[d.properties.name].draws_congressional_lines + "<br />" + 
            "<b>Action: </b>" + state_data_lookup[d.properties.name].action + "<br />"
        )
           .style("left", (d3.event.pageX) + "px")
           .style("top", (d3.event.pageY - 28) + "px");
    })
    .on("mouseout", function(d) {
        div.transition()
           .duration(500)
           .style("opacity", 0);
    })
    .on("click", function(d) {
        document.location = "/reforms2019/" + d.properties.name;
    });
});

// Modified Legend Code from Mike Bostock: http://bl.ocks.org/mbostock/3888852
var legend = d3.select("#map").append("svg")
                .attr("class", "legend")
                .selectAll("g")
                .data(legend_data)
                .enter()
                .append("g")
                .attr("transform", function(d, i) {
                    return "translate(0," + (i * 20) + ")";
                });

legend.append("rect")
      .attr("y", 20)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", function(d) { return d[1]; }
    );

legend.append("text")
        .data(["foo"])
        .attr("x", 24)
        .attr("y", 12)
        .attr("font-weight", "bold")
        .text(function(d) { return "Key Redistricting Features"; });


legend.append("text")
      .attr("x", 24)
      .attr("y", 30)
      .attr("dy", ".35em")
      .text(function(d) { return d[0]; });

</script>