{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/stateface.css' %}">
    <script src="{% static 'js/d3.v3.min.js' %}"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>


{% block body %}
<h1 style="text-align:center" class="title is-3">State-by-State Redistricting Reform: The Local Routes</h1>

<script>
  var width = 480;
  var height = 250;
  var legend_text = 12;
  var legend_title = 13;
</script>

{% include "_map.html" %}

{% endblock %}

</body>
</html>