{% extends "base.html" %}
{% load static %}

{% block body %}
<h1 style="text-align:center" class="title is-3">State-by-State Redistricting Reform: The Local Routes</h1>

<h1>In all 50 states, there is a route to fair districts. 
        But it depends on local conditions. 
        Click on your state or select from the dropdown to learn more about how best to achieve fair districts.</h1>
    
<div id="social">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="State-by-State Redistricting Reform: The Local Routes" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<script>
var width = 960;
var height = 500;
var legend_text = 15;
var legend_title = 16;
</script>

{% include "_map.html" %}

{% endblock %}
