{% extends "base.html" %}
{% load static %}

{% block body %}
<h1 style="text-align:center" class="title is-3">State-by-State Redistricting Reform: The Local Routes</h1>

<h1>In all 50 states, there is a route to fair districts. 
        But it depends on local conditions. 
        Click on your state to learn more about how best to achieve fair districts.</h1>
    

<div id="map">
</div>

{{ state_data|json_script:"state-data" }}
<script>
// based on http://bl.ocks.org/michellechandra/0b2ce4923dc9b5809922

var width = 960;
var height = 500;
if(document.documentElement.clientWidth < 1224) {
    width = document.documentElement.clientWidth - 100;
    height = width * 0.5;
}
const projection = d3.geo.albersUsa()
                   .translate([width/2, height/2])
                   .scale([width]);
const path = d3.geo.path().projection(projection);

var svg = d3.select("#map")
            .append("svg")
            .attr("width", width)
            .attr("height", height);
var div = d3.select("#maincontent")
            .append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);

const color = [
   "#ADD8E6", // gray
   "#94f654", // bright green
   "#d1fbc0", // mild green
   "#7d5dca", // purple
   "#b15cae", // magenta
   "#fbee65", // yellow
//    "#e8bb48", // orange
];

const state_data = JSON.parse(document.getElementById('state-data').textContent);
var state_data_lookup = {};
for(var d of state_data) {
    state_data_lookup[d.name] = {
        legislative_control: d.legislative_control,
        action: d.short_action,
        draws_state_lines: d.draws_state_lines,
        draws_congressional_lines: d.draws_congressional_lines
    }
}

// TODO: move this to database
// 1 = independent commission
// 2 = other advisory/commission
// 3 = poteontial reform by 2021 // proposed independent commission (OLD)
// 4 = divided or potentially divided gov't.
// 5 = Legal and legislative routes to reform // state court (OLD)
// 6   eliminated

const state_statuses = {
    "Alaska": 1,
    "Washington": 1,
    "California": 1,
    "Idaho": 1,
    "Montana": 1,
    "Arizona": 1,
    "Colorado": 1,
    "Michigan": 1,
    "Hawaii": 2,
    "Utah": 2,
    "Iowa": 2,
    "Ohio": 2,
    "Pennsylvania": 2,
    "New Jersey": 2,
    "New York": 2,
    "Connecticut": 2,
    "Rhode Island": 2,
    "New York": 2,
    "Vermont": 2,
    "Maine": 2,
    "North Dakota": 3,
    "South Dakota": 3,
    "Nevada": 3,
    "Nebraska": 3,
    "Mississippi": 3,
    "Illinois": 3,
    "Oregon": 3,
    "Floria": 3,
    "New Hampshire": 3,
    "Virginia": 3,
    "Arkansas": 3,
    "Oklahoma": 3,
    "Minnesota": 4,
    "Kansas": 4,
    "Wisconsin": 4,
    "Louisiana": 4,
    "Maryland": 4,
    "North Carolina": 5,
};

const statuses = [
    "Legislative action/public input",
    "Independent commission",
    "Other advisory/commission",
    "Potential reform by 2021",
    "Divided or potentially divided gov't.",
    "Legal and legislative routes to reform",
];

d3.json("us-states", function(json) {
    svg.selectAll("path")
        .data(json.features)
        .enter()
        .append("path")
        .attr("d", path)
        .style("stroke", "#fff")
        .style("stroke-width", "1")
        .style("fill", function(d) {

        const value = state_statuses[d.properties.name];
        if (value) {
            return color[value];
        } else {
            return color[0];
        }
    })
    .on("mouseover", function(d) {
        div.transition()
           .duration(200)
           .style("opacity", .9);
        div.html(
            "<b>" + d.properties.name + "</b><br />" +
            "<b>Draws state boundaries: </b>" + state_data_lookup[d.properties.name].draws_state_lines + "<br />" +
            "<b>Draws congressional boundaries: </b>" + state_data_lookup[d.properties.name].draws_congressional_lines + "<br />" + 
            "<b>Action: </b>" + state_data_lookup[d.properties.name].action + "<br />"
        )
           .style("left", (d3.event.pageX) + "px")
           .style("top", (d3.event.pageY - 28) + "px");
    })
    .on("mouseout", function(d) {
        div.transition()
           .duration(500)
           .style("opacity", 0);
    })
    .on("click", function(d) {
        document.location = "/reforms2019/" + d.properties.name;
    });
});

// Modified Legend Code from Mike Bostock: http://bl.ocks.org/mbostock/3888852
var legend = d3.select("#map").append("svg")
                .attr("class", "legend")
                .selectAll("g")
                .data(color)
                .enter()
                .append("g")
                .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

legend.append("rect")
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", function(d) { return d; }
    );

legend.append("text")
      .data(statuses)
      .attr("x", 24)
      .attr("y", 9)
      .attr("dy", ".35em")
      .text(function(d) { return d; });


// var legendTitle = d3.select("#map").append("svg")
//     .attr("class", "legend-title")
//     .selectAll("g")
//     .enter()
//     .append("g")
//     .attr("transform", function(d, i) { return "translate(2," + i * 20 + ")"; });

// legendTitle.append("text")
//     .attr("x", 24)
//     .attr("y", 9)
//     .text("this is title");

</script>
{% endblock %}
