{% extends "base.html" %}

{% block body %}

<div id="state-grid">

<section id="main-block">
<div class="container">
    <h1 class="title is-1">
        <span class="stateface stateface-replace stateface-{{ state.abbreviation.lower }}">{{ state.name }}</span>
        {{ state.name }}
    </h1>
</div>
</section>

<section id="summary-block">
    <ul>
        {% if state.draws_congressional_lines|length %}
            <li>{{ state.draws_congressional_lines }} draws congressional boundaries.</li>
        {% endif %}
        <li>{{ state.draws_state_lines }} draws legislative boundaries.</li>
        <li>Legislative Control: {{ state.legislative_control }}</li>
        <li>Governor's Political Party: {{ state.gov_control }}</li>
        {% if state.latest_test_url %}
            <li><a href="{{ state.latest_test_url }}">Tests of recent elections</a></li>
        {% endif %}
        <li>Last updated: {{ state.last_updated|date:"H:i F jS Y" }}</li>
    </ul>
</section>


{% if state.process.raw %}
<section>
<div class="container">
    <h2 class="title is-2">Process</h2>
    {{ state.process }}
</div>
</section>
{% endif %}

<section>
<div class="container">
    <h2 class="title is-2">Issues</h2>
    {{ state.issues }}
</div>
</section>

<section>
<div class="container">
    <h2 class="title is-2">Actions</h2>
    {{ state.actions }}
    {% if not state.actions.raw %} Once redistricting starts, use the public comment period! With data and free software, offer your communities of interest and analyze draft plans. {% endif %}
</div>
</section>

{% if state.pitfalls.raw %}
<section>
<div class="container">
    <h2 class="title is-2">Pitfalls</h2>
    {{ state.pitfalls }}
</div>
</section>
{% endif %}

<section>
<div class="container">
    <h2 class="title is-2">Contacts</h2>
    {% if not state.contacts.raw %}
    Please let us know about your reform organization!
    {% endif %}
    {{ state.contacts }}
</div>
</section>


<section id="comment-section">
    <hr />
    <div class="control">
      <button class="button is-link" id="leave-feedback">Leave Feedback</button>
    </div>

    <form method="POST" action="." id="feedback-form">
        {% csrf_token %}
        {% for hidden in comment_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in comment_form.visible_fields %}
            {% if field.name == "state" %}
                {{ field.as_hidden }}
            {% else %}
                {% include "_field.html" %}
            {% endif %}
        {% endfor %}
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
    </form>
</section>

</div>

<script>
    const ff = document.getElementById("feedback-form");
    const lf = document.getElementById("leave-feedback");
{% if not reveal_form %}
    ff.style.display = "none";
    lf.onclick = function() {
        ff.style.display = "block";
        ff.className = "fadein";
        lf.style.display = "none";
    };
{% else %}
    lf.style.display = "none";
{% endif %}
</script>

{% endblock %}
