{% extends "base.html" %}

{% block body %}

<div id="state-grid">

<section id="main-block">
<div class="container">
    <h1 class="title is-1">
        <span class="stateface stateface-replace stateface-{{ state.abbreviation.lower }}">{{ state.name }}</span>
        {{ state.name }}
    </h1>
</div>
</section>

<section id="summary-block">
<div class="container">
    <ul>
        <li>{{ state.draws_congressional_lines }} draws congressional boundaries.</li>
        <li>{{ state.draws_state_lines }} draws legislative boundaries.</li>
        <li>Legislative Control: {{ state.legislative_control }}</li>
        <li>Last updated: {{ state.last_updated|date:"H:i F jS Y" }}</li>
    </ul>
</div>
</section>

<section>
<div class="container">
    <h2 class="title is-2">Process</h2>
    {{ state.process }}
</div>
</section>

<section>
<div class="container">
    <h2 class="title is-2">Issues</h2>
    {{ state.issues }}
</div>
</section>

<section>
<div class="container">
    <h2 class="title is-2">Actions</h2>
    {{ state.actions }}
</div>
</section>

<section>
<div class="container">
    <h2 class="title is-2">Pitfalls</h2>
    {{ state.pitfalls }}
</div>
</section>

<section>
<div class="container">
    <h2 class="title is-2">Contacts</h2>
    {{ state.contacts }}
</div>
</section>

<section id="comment-section">
    <h3 class="title is-3">Leave Feedback</h3>

    <form method="POST" action=".">
        {% csrf_token %}
        {% for hidden in comment_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in comment_form.visible_fields %}
            {% if field.name == "state" %}
                {{ field.as_hidden }}
            {% else %}
                {% include "_field.html" %}
            {% endif %}
        {% endfor %}
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
    </form>
</section>

</div>
{% endblock %}
